* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px;
}

#accordion{
  width: 550px;
  text-align: center;
  margin: auto;
  border: 1px solid #00C6D6;
  margin-top: 300px;

h3{
  background: #00C6D6;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  padding: 10px;
  color: white;
  }

  h3:hover{
      background-color: #00DAEC;
  }

div{
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 500px;
  padding-left: 20px;
  color: darkgrey;
  transition: all 1.2s ease-in-out;
  max-height: 150px;
  overflow: hidden;
  text-align: left;

}


.closed {
  max-height: 0px;
  padding: 0px;
  overflow: hidden;
  transition: all 1.2s ease-in-out;
}
}
